{%extends 'layout.html'%}


{%block title%} {{title}} {%endblock%}



{%block content%}

<h1> {{title}} </h1>

<p>{{mi_variable}}</p>

<!--Utilizar condicionales IF condicionales y bucles-->
{% if nombre and nombre == 'Pablo others' %}
    <p>{{nombre}} </p>
{%else%}
    <strong>El nombre NO existe o NO coincide</strong>
{% endif %} 

<h3>Listado de Lenguajes de Programacion </h3>
<ul> 
    {% for lenguaje in lenguajes%}
        <li>{{forloop.counter}}. {{lenguaje}}  </li>
        {%empty%}
            <p>NO hay lenguajes que mostrar</p>
    {%endfor%}
</ul> 
<h3> Vista años con un ciclo for  </h3>


{% include 'fecha-actual.html' with saludo="Hola Mundo desde la Plantilla"  %}

<p> Año hasta el 2050 </p>
{%endblock%}
